@import url('nav.css');
@import url('footer.css');

body {
    padding: 100px 0 0;
    color: white;
    background-color: rgb(10, 10, 5);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

a {
    color:rgb(255, 255, 215);
    text-decoration: none;
}


.logo {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 5px solid rgb(222, 222, 111);
    overflow: hidden;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: rgb(255, 255, 135);
    font-size: 52px;
    margin-bottom: 20px;
}

h2 {color: rgb(235, 107, 255);}

h3 {
    color:rgb(255, 82, 39);
    margin-top: 2em;
    font-size: 18px;
}

