
nav {
    position: absolute;
    left: 0;
    top: 0 ;
    display: flex;
    align-items: center;
    width: 100%;
}

nav a {
    display: flex;
    min-width: 200px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 5px;
    transition: background-color 300ms cubic-bezier(.71,.33,.41,1), transform 150ms ease;
}
nav a:hover {
    background-color: #2d2d2d;
    color: rgb(235, 235, 65);
}   
nav a:active {
    background-color: rgb(20, 20, 20);
    transform:  translateY(2px);
    color: rgb(235, 235, 65);
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type:none;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0;
}

